<div class="container mt-4">
  <h2 class="text-success text-center">📷 Imagenes de Perros Aleatorios</h2>

  <div class="text-center mb-3">
    <button (click)="getDogs()" class="btn btn-primary">Cargar Nuevas Imágenes</button>

  </div>

  <!-- Grid de imágenes -->
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let image of dogImages">
      <div class="card shadow-lg">
        <img [src]="image" class="card-img-top" alt="Perro aleatorio">
        <div class="card-body text-center">
          <p class="card-text">🐕 Imagen de un perro aleatorio</p>
        </div>
      </div>
    </div>
  </div>
</div>
