<div class="container mt-4">
  <h2 class="text-success text-center">🐶 Galería de Perros</h2>

  <div class="text-center mb-3 d-flex flex-wrap justify-content-center gap-2">
    <button (click)="getDogs()" class="btn btn-primary">Cargar Imágenes Aleatorias</button>

    <select [(ngModel)]="selectedBreed" class="form-select form-select-sm w-auto">
      <option *ngFor="let breed of dogBreeds" [value]="breed">{{ breed }}</option>
    </select>

    <button (click)="getDogsByBreed()" class="btn btn-secondary">Buscar por Raza</button>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let image of dogImages">
      <div class="card shadow-lg">
        <img [src]="image" class="card-img-top" alt="Perro">
        <div class="card-body text-center">
          <p class="card-text">🐕 Imagen de un perro</p>
        </div>
      </div>
    </div>
  </div>
</div>
