<div class="container mt-4">
  <h2 class="text-danger text-center">🔎 Buscar por Raza</h2>

  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="breed" placeholder="Ingrese la raza en inglés" class="form-control">
    <button (click)="searchBreed()" class="btn btn-success">Buscar</button>
  </div>
  <small class="text-muted">Ejemplo: 'germanshepherd', 'bulldog'</small>

  <div class="row mt-3">
    <div class="col-md-3 mb-3" *ngFor="let image of dogImages">
      <div class="card shadow">
        <img [src]="image" class="card-img-top rounded" alt="Imagen de perro">
      </div>
    </div>
  </div>
</div>
